*{
    margin: 0;
    padding: 0;
}

.corpo{
    display: grid;
    grid-template-rows: 25% 75%;
    height: 100vh;
    flex-wrap: nowrap;
    width: 100vw;
}

.conteudo-principal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.jogo{
    display: grid;
    height: 50vh;
    width: 25vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    background-color: black;
    align-items: center;
    
}
.estiloColunas{
    background-color: white;
    font-size: 80px;
    height: 100%;
    text-align: center;
    cursor: pointer;
}

.menu-superior{
    background-color: black;
    text-align: center;
    padding: 25px;
}

.menu-superior-botao{
    background-color: white;
    padding: 0.5em;
    cursor: pointer;
    font-weight: 800;
    margin: 0 1em;
}
.menu-superior-botao:hover{
    background-color: whitesmoke;
}
.menu-superior-botao:active{
    background-color: lightgray;
}

.desativar{
    display: none;
}

h1{
    color: white;
    padding: 0.5em;
}

h2{
    color: white;
    padding: 0.5em;
}
